body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

form {
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.suggestions {
    border: 1px solid #ccc;
    max-width: 300px;
    margin: auto;
    position: absolute;
    background: white;
    z-index: 1000;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
